/*Generales*/
*{
    font-family: sans-serif;
    margin: 0;

    padding: 0;
}
/*Estilos a etiquetas*/
h1{
    background-color: #00ffff;
    border: 10px black; 
    border:solid 2px #055858;
    text-align: center;
    
}
header{
    width: 100%;
    height: 650px;
}
header p{
    background-color: #0bf1b8;
    width: 240px;
    height: 20px;
    margin-top: 0px;
    font-size: 14px;
    font-family: 'candylicious', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
nav{
    text-align: center;
    padding-left: 70%;
    padding-top: 56vh;
    
    
}
nav ul{
    list-style-type: none;
    border: 0px;
    margin-top: 0px;
    padding-left: 0px;
    background-color: azure;
}
nav ul li{
    border: solid 2px black;
    
    
}
h2{
    text-align: center;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    
    border:groove 3px gray;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #00ffff 74%);
}
h3{
    background-color: #00ffff;
    
    text-align: center;
    border-radius: 5%;
    background-color: #2a2a72;
    background-image: linear-gradient(55deg, #2a2a72 0%, #00ffff 74%);}

iframe{
    border-radius: 20%;
}
img{
    border-radius: 20%;
    border: solid 5px #00a151;
}
p{
    background-color:#055858;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: solid 5px black;
    font-size: 25px;
    color: white;
    text-align: center;
}
span{
    background-color:#00ffff;
    border-radius: 10%;
    border: solid 5px #055858;
    font-size: 20px;
    text-align: center;
}
aside{
    background-color:#00ffff;
    border-radius: 10%;
    border: solid 5px #055858;
    font-size: 30px;
}
div{
    height: 200px;
    width: 200px;
    background-color: rgb(241, 241, 148);
    border: solid #055858; 
}
footer{
    background-color: #20bf55;
    background-image: linear-gradient(30deg, #20bf55 0%, #01baef 74%);
}
/*Menu desplegable*/
#colorMenu li:hover{
    background-color: #00a151;
    color: white;
    
}
#colorMenu li a:hover{
    color: white;
}
#colorMenu>li ul{
    display: none
}
#colorMenu li:hover>ul{
    display: block;
}
/*otros*/
.centrarImagen{
    text-align: center;
}
.colorAquamarine{
    background-color: #00ffff;
}
.publicidad{
    display: flex;
    flex-flow: row nowrap;
    margin: 10px;
    justify-content: space-between;
    text-align: center;
    }
.fondosColor{
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%)
}
/*Fondos de Pagina Web*/
.fondoInicioMasSobre{
    background-image: url(../Fuentes_Imagenes/doctores1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fondoInicio{
    background-image: url(../Fuentes_Imagenes/TomaDeDecisiones.png.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fondoInicioNosotros{
    background-image: url(../Fuentes_Imagenes/clinicapordentro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fondoInicioCovid19{
    background-image: url(../Fuentes_Imagenes/covid19.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.fondoInicioFarmacia{
    background-image: url(../Fuentes_Imagenes/Farmacias.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
/*Mejora visual links*/
.sacarLineas{
    text-decoration: none;
    color: black;
}
.sacarLineas2{
    text-decoration: none;
    color: black;
    list-style-type: none;
    background-color: turquoise;
    font-size: 35px;
    font-family: fantasy, sans-serif;
    border: dashed 2px;
}
.centros{
    text-align: center;
    font-size: 40px;
    background-color: #36af7d;
    
    border-radius: 20px;
    border: outset 6px gray;
}
.formulario{
    border: solid 5px turquoise;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #00ffff 70%);
}
/*animaciones*/
.marketing{
    transition: height 5s; 
    transition: width 2s;
    }
    .marketing:hover{
        height: 400px;
        width: 400px;
    }
/*grids/
/*Media Queries*/
@media (min-width: 1024px){
    .mainGrids{
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%);
    display:grid;
    grid-template-areas: 
    "front     front     front"
    "articulo  articulo  articulo"
    "imagen    spam      aside"
    "articulo2 articulo2 articulo2"
    "imagen2   spam2     aside2"
    "articulo3 articulo3 articulo3"
    "imagen3   spam3     aside3"
    "articulo4 articulo4 articulo4"
    "imagen4   spam4     aside4"
    "articulo5 articulo5 articulo5"
    "imagen5   spam5     aside5"
    "lado      lado      lado2"
    "lado3     lado3     lado3"
    ;
    grid-template-columns: 20% 25% 55%;
    grid-template-rows: auto;
    align-items: center;
    }
/*mediaQueriesFarmacia*/
    .mainGridsFarmacia{
        background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%);
    display:grid;
    grid-template-areas:
    
    "front   front     front"
    "lado    lado      lado"
    "imagen  articulo1 aside"
    "imagen2 articulo2 aside2"
    "imagen3 articulo3 aside3"
    "imagen4 articulo4 aside4"
    "imagen5 articulo5 aside5"
    "spam    spam2     spam3"
    "spam4   spam4     spam4";
    align-items: center;
    }
/* mediaQueriesAgendarHoraMedica*/
    .mainGridsHoraMedica{
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%);
    display:grid;
    grid-template-areas:  
    "front     lado    articulo"
    "imagen    aside   imagen2"
    "lado2     articulo2 aside2"
    "articulo3 imagen3 lado3"
    "aside3    aside3    aside3"
    ;
    grid-template-columns: 30% 40% 30%;
    justify-items: center;
    align-items: center;
    }
    .mainGridsPCR{
        background-color: #abe9cd;
        background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%);
        display:grid;
        grid-template-areas:  
        "front    lado      articulo"
        "imagen3  imagen    lado3"
        "aside    articulo2 lado2 "
        "imagen2  articulo3 aside2"
        "aside3   aside3    aside3"
        ;
        grid-template-columns: 30% 40% 30%;
        justify-items: center;
        align-items: center;
        }
        #spam1{
            grid-area: spam;
        }
        #articulo{
            grid-area: articulo1;
        }
        #aside{
            grid-area: aside;
        }
}

    #frontal12{
        grid-area: front;
        align-items: center;
    }
    #frontal{
        grid-area: front; 
    }
    #articulo12{
    grid-area: articulo;
    }
    #imagen{
        grid-area: imagen;
        }
    #spam{
        grid-area: spam;
        }
    #aside12{
        text-align: center;
        grid-area: aside;
        font-size: 25px;
        }
    #articulo2{
        grid-area: articulo2;
        font-size: 35px;
        }
    #imagen2{
        grid-area: imagen2; 
        }
    #spam2{
        grid-area: spam2;
        }
    #aside22{
        grid-area: aside2;
        text-align: center;
        }
    #lado{
        grid-area: lado;
        }
    #lado2{
        grid-area: lado2;
        font-size: 30px;
        }
    /* colores de agendar hora y examenes pcr*/
    #frontal1{
        grid-area: front;
        background-color: #00ffff;
        padding: 5px;
        border: solid #055858 2px;
        }
    #lado1{
        grid-area: lado;
        background-color: #00ffff;
        padding: 5px;
        border: solid #055858 2px;
        }
     #articulo1{
         grid-area: articulo;
         background-color: #00ffff;
         padding: 5px;
         border: solid #055858 2px;
         }
    #imagen1{
        grid-area: imagen;
        background-color: #00ffff;
        padding: 5px;
        border: solid #055858 2px;
        }
    #aside1{
        grid-area: aside;
        background-color: #00ffff;
        padding: 5px;
        border: solid #055858 2px;
        }
    #aside2{
        grid-area: aside2;
        background-color: #00ffff;
        padding: 5px;
        border: solid #055858 2px;
        }
/*cierro los colores*/
/*partes reales*/
    #lado3{
        grid-area: lado3;
        font-family: fantasy Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: bolder;
        font-size: 30px;
        text-align: center;
    }
    #articulo3{
        grid-area: articulo3;
        font-weight: bolder;
    }
    #imagen3{ 
        grid-area: imagen3;
        
    }
    #aside3{
        grid-area: aside3;
        font-size: 25px;
        text-align: center;
    }
    #aside8{
        grid-area: aside3;
        background-color: #abe9cd;
        background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%);
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        border: groove #055858 5px;
        margin: 22%;
    }
    #spam3{
        grid-area: spam3;
    }
    #lado4{
        grid-area: lado4;
    }
    #articulo4{
        grid-area: articulo4;
    }
    #imagen4{ 
        grid-area: imagen4;
        
    }
    #aside4{
        grid-area: aside4;
        text-align: center;
    }
    #spam4{
        grid-area: spam4;
    }
    #lado5{
        grid-area: lado5;
    }
    #articulo5{
        grid-area: articulo5;
    }
    #imagen5{ 
        grid-area: imagen5;
        
    }
    #aside5{
        grid-area: aside5;
        text-align: center;
    }
    #spam5{
        grid-area: spam5;
    }
@media (min-width: 481px) and (max-width: 1023.9px){
    nav{padding-top: 45vh;
    }
    .menu{
        padding-top: 49%;
    }
    div{
        margin-top: 20px;
        }
    .mainGrids{
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%);
    display:grid;
    grid-template-areas:
    "front      front"
    "articulo   articulo"
    "imagen     imagen"
    "spam       spam"
    "aside      aside"
    "front2     front2"
    "articulo2  articulo2"
    "imagen2    imagen2"
    "spam2      spam2"
    "aside2     aside2"
    "fron3      front3"
    "articulo3  articulo3"
    "imagen3    imagen3"
    "spam3      spam3"
    "aside3     aside3"
    "front4     front4"
    "articulo4  articulo4"
    "imagen4    imagen4"
    "spam4      spam4"
    "aside4     aside4"
    "front5     front5"
    "articulo5  articulo5"
    "imagen5    imagen5"
    "spam5      spam5"
    "aside5     aside5"
    "lado       lado2"
    "lado3      lado3"
    ;
    justify-items: center;
    grid-template-columns: auto;
    grid-template-rows: auto;
    }
    .mainGridsPCR{
        background-color: #abe9cd;
        background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%);
        display:grid;
        grid-template-areas:
        "front    lado"
        "articulo imagen"
        "aside    articulo3"
        "lado2    articulo2"
        "aside2   imagen2"
        "aside3   aside3"
        ;
        grid-template-columns:50% 50%;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        }
    .mainGridsHoraMedica{
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%);
    display:grid;
    grid-template-areas:
    "front    lado"
    "articulo imagen"
    "aside    imagen2"
    "lado2    articulo2"
    "aside2   articulo3"
    "imagen3  lado3"
    "aside3   aside3"
    ;
    grid-template-columns:50% 50%;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    }
    .mainGridsFarmacia{
        background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%);
    display:grid;
    grid-template-areas:

    "front   front      front"
    "lado    lado       lado"
    "imagen1  articulo1 aside1"
    "imagen2 articulo2  aside2"
    "imagen3 articulo3  aside3"
    "imagen4 articulo4  aside4"
    "imagen5 articulo5  aside5"
    "spam    spam2      spam3"
    "spam4   spam4      spam4";
    align-items: center;
    grid-template-columns: 40% 40% 20%;
    }
    #aside8{
        grid-area: aside3;
        background-color: #abe9cd;
        background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%);
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        border: groove #055858 5px;
        margin: 8px;
        font-size: 18px;
    }
    #spam1{
        grid-area: spam;
    }
    .publicidad{
        display: flex;
        flex-flow: row wrap;
        margin: 40px;
        align-items: center;
        text-align: center;
        }
}
@media (max-width: 480px){
    nav{
        padding-top: 40vh;
    }
    div{
        margin-top: 20px;
        }
    .publicidad{
        display: flex;
        flex-flow: column nowrap;
        margin: 40px;
        align-items: center;
        text-align: center;
        }
    .mainGrids{
    background-color: #abe9cd;
    background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%);
    display:grid;
    grid-template-areas:
    "front      front"
    "articulo   articulo"
    "imagen     imagen"
    "spam       spam"
    "aside      aside"
    "front2     front2"
    "articulo2  articulo2"
    "imagen2    imagen2"
    "spam2      spam2"
    "aside2     aside2"
    "fron3      front3"
    "articulo3  articulo3"
    "imagen3    imagen3"
    "spam3      spam3"
    "aside3     aside3"
    "front4     front4"
    "articulo4  articulo4"
    "imagen4    imagen4"
    "spam4      spam4"
    "aside4     aside4"
    "front5     front5"
    "articulo5  articulo5"
    "imagen5    imagen5"
    "spam5      spam5"
    "aside5     aside5"
    "lado       lado"
    "lado2      lado2"
    "lado3      lado3"
        ;
        justify-items: center;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .mainGridsHoraMedica{
        background-color: #abe9cd;
        background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%);
        display:grid;
        grid-template-areas:  
        "front"
        "lado"
        "articulo"
        "imagen"
        "aside"
        "lado2"
        "articulo2"
        "imagen2"
        "aside2"
        "articulo3"
        "imagen3"
        "lado3"
        "aside3"
        ;
        justify-items: center;
        align-items: center;
        }
    .mainGridsFarmacia{
        background-color: #abe9cd;
        background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%);
        display:grid;
        grid-template-areas:
        
        "front   front     front"
        "lado    lado      lado"
        "imagen  articulo  aside"
        "imagen2 articulo2 aside2"
        "imagen3 articulo3 aside3"
        "imagen4 articulo4 aside4"
        "imagen5 articulo5 aside5"
        "spam    spam2     spam3"
        "spam4   spam4     spam4";
        grid-column:  auto;
        grid-row: auto;
        align-items: center;
        }
    .mainGridsPCR{
        background-color: #abe9cd;
        background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%);
        display:grid;
        grid-template-areas:
        "front"
        "lado"
        "articulo"
        "imagen"
        "aside"
        "lado2"
        "articulo2"
        "imagen2"
        "aside2"
        "articulo3"
        "imagen3"
        "lado3"
        "aside3";
        
        grid-column:  auto;
        grid-row: auto;
        align-items: center;
        }
/*lo que voy a poner*/
    #aside8{
        grid-area: aside3;
        background-color: #abe9cd;
        background-image: linear-gradient(315deg, #abe9cd 0%, #3eadcf 60%);
        text-align: center;
        padding-left: 3%;
        padding-right: 3%;
        margin: 10%;
        font-size: 15px;
    }
    #frontal{
        grid-area: front;
        font-size: 20px
    }
}